@import "tailwindcss";

html{
    font-family: 'Inter', sans-serif;
}

.spotlight{
    position: fixed;
    top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(100, 149, 237, 0.15),
    transparent 400px
  );
  z-index: 0;
}